<h1>Listing commentaires</h1>

<table>
  <thead>
    <tr>
      <th>Contenu</th>
      <th>Date</th>
      <th>Post</th>
      <th>Auteur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commentaires.each do |commentaire| %>
      <tr>
        <td><%= commentaire.contenu %></td>
        <td><%= commentaire.date %></td>
        <td><%= commentaire.post_id %></td>
        <td><%= commentaire.auteur %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
